<div class="site-section">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="fw-bold mb-5 text-center">Shop By Age</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6"  *ngFor="let age of ages ;let i=index" (click)="goProducts(age)">
        <div class="pricing  text-center">
          <span class="price age{{i}}">
            <span>{{age}}</span>
            <br>
            <span>years</span>

          </span>
        </div>
      </div>
    </div>
  </div>
</div>
