<footer class="">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-3 col-6">
         
          <img class="logo" src="../../../assets/imgs/logo.jpeg" alt="" srcset="">
          <!-- <a class="heading" routerLink="/home"><span class="text-primary">.</span>Fluffy Duck</a> -->

        </div>
        <div class="col-md-4 col-xs-3">
          <p class="heading text-primary">الاقسام</p>
         <ul>
           <li>معلومات عنا</li>

         </ul>
              
        </div>
        <div class="col-md-4 col-6">
          <p class="heading text-primary">الاتصال</p>

          <ul>
            <li><i class="fa-solid fa-location-dot"></i> الرياض، المملكة العربية السعودية</li>
            <li><i class="fa-solid fa-phone"></i> (+966) 50 432 3225</li>
            <li><i class="fa-solid fa-envelope"></i> sales@nayeftoys.com</li> 
          </ul>
               
         </div>
  
            
        </div>
        <div class="row text-center">
          <hr>
           <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright  All rights reserved 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>