<div  class="container-fluid" >
  <div class="container align-middle">
    <div class="row">
        <span
          style="font-family: hurricane !important;margin-top: 280px;"
          class="text-cursive h5 text-red"
          >مرحبا بكم في موقعنا</span
        >
        <h1 class="mb-3 fw-bold text-light">اجلب الحياة الممتعة لأطفالك</h1>
        <p>العاب مذهله لأطفالك</p>
        <p class="mt-5">
          <a href="#" class="btn btn-primary py-4 btn-custom-1">تسوق الان</a>
        </p>
    </div>
  </div>
  
</div>
