.navContainer {
  background-color: #b2b2b2;
}
nav {
  font-weight: 500;
  border-radius: 50px;
  background-color: white;
  width: 100%;
}
.links a {
  padding: 20px;
}
.active {
  color: #fd4d40 !important;
}
.nav-item:hover ul {
  display: block;
}
.location i {
  font-size: 35px;
  margin-left: 5px;
  color: yellow;
}
.workHours i {
  font-size: 35px;
  margin-left: 5px;
  color: #ff5964;
}
.register {
  padding: 3px;
  margin: 0;
  background-color: #ff5964;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}
.register a {
  color: white;
}
.register a:hover {
text-decoration: underline;  }
